doctype html
html(lang="en")
  head
    title= ("Seus Contatos")
  body
    h1 Todos os seus contatos
    h2 Contatos:
    ul
      each contact in contacts
        li
          div 
            h3 #{contact.name}
            p #{contact.phone}
            p #{contact.company}